[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.25.0"

[dev-packages]
jsonschema = ">=4.0.0"
pylint = ">=2.0.0"
yapf = ">=0.30.0"

[requires]
python_version = "3.9"
